*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.carousel{
    margin: 0;
    padding: 0;
    position: auto;
}

.navbar-one{
    background-color: rgb(149, 113, 113);
    color: blue;
    height:40px;
    position: auto;
    cursor: pointer;
}

.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(139, 112, 112);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
}
/* .navbar{
    position: auto;
    width: 100%;
    background-color: rgb(246, 245, 245);
    z-index: 9999;
} */

.navbar-brand{
    font-size: 2rem;
    color: rgb(29, 9, 72);
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
}

.navbar-brand:hover{
    color: brown;
}

/* .nav-link:{
}

 */
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(4, 14, 49);
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; 
    text-transform: uppercase;
}
.nav-link:hover{
    color:rgb(238, 104, 21);
    
}

.nav-item:hover{
    color: rgb(229, 174, 126); 
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;  
    outline: none;
    border: 4px solid rgb(74, 220, 228);
}

.search:hover{
    border: 2px solid rgb(31, 199, 25);
}


.btn{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 60px;
    margin-left: -66px;
    background-color: rgb(204, 233, 237);
}

/* .main{
    background: url(./img/cover.jpg)no-repeat;
    background-size: auto;
    height:100vh ;
    background-position: 80% 70%;
    width: 100%;
}
 */

 .contact:hover{
color: rgb(74, 20, 4);

 }



/*  .cover-image{
    max-height:100px;
 } */

 .btn1{
    height:45px;
    width:15%;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    font-weight: 500;
    border-radius: 70px;
   /*  border: 20px solid #ff6550; */
 }

 .btn0:hover{
    color:purple;
    border: 2px solid rgb(13, 250, 5);
 }
/* 
 .new{
    box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.75);
 } */

 .new{
    margin-left: 12px;
    margin-right: 12px;
 }
 .new:hover{
    color:purple;
    border: 2px solid rgb(13, 250, 5);
 }
/* 
 .contact:hover{
    color:rgb(39, 21, 197);
 } */

.underline {
    text-decoration: underline;
  }
  
.btn:hover{
    
    color:purple;
    border: 2px solid rgb(13, 250, 5);
 } 
 .news:hover{
    color: rgb(25, 25, 27);
 }

 .row{
    color: rgb(68, 81, 128);

 }

 .mens-products:hover{
    font-weight: 700;
    color: blueviolet;
 }

 
 .womens-products:hover{
    font-weight: 700;
    color: blueviolet;
 }

 /* .womens-product{
    margin: 0;
    padding: 0;
 } */

 /* .d-flex:hover{
color: green;
 } */

 .foot-right a{
    font-size: 3rem;
 }


